body {
  font-family: 'Segoe UI', sans-serif;
  background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  background: #e3c605;
  border: 5px solid black;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  box-shadow: 13px 13px black;
}

h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  font-weight: 600;
  font-size: 25px;
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
  color: rgb(245, 243, 243);
  font-weight: 900;
  font-size: 23px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}

li span {
  cursor: pointer;
  color: red;
}

@media (max-width: 480px) {
  .input-group {
    flex-direction: column;
  }

  input, button {
    width: 100%;
  }
}
